<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.page_classes }}">

    {%- haml header.haml -%}

    <main class="page" aria-label="Content">
      {% include nav-breadcrumbs.html %}
      <section id="content" class="container content">
        {{ content }}
      </section>
    </main>

    <script src="{{ '/javascripts/lib/headings_anchors.js' | relative_url }}" type="text/javascript"></script>

    {%- haml footer.haml -%}

  </body>

</html>
